/// Misc
//////////////////////////

.clipboard-success-message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $success;
    background: rgba($white,.9);
    border-radius: $border-radius;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    .clipboard-success &{
        opacity: 1;
    }
}

.print-container {
    width: 210mm;
    height: auto;
    padding: 10mm;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

@media print {
    .print-container {
        display: flex;
    }
}